<ion-content [fullscreen]="true">

  <!-- Sign up page -->
  <div class="container" >
    <h1 class="heading">🚀 Crea una cuenta<br><br></h1>
    <p class="para">Registrate para iniciar!</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Nombre</legend> 
          <ion-input formControlName="nombre" type="text" placeholder="John Doe"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend> 
          <ion-input formControlName="email" type="email" placeholder="john@doe.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Contraseña</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">Eres usuario&nbsp;<a routerLink="/auth">Sign In?</a></p>
      <ion-button class="login-button" (click)="register()" expand="block">Sign Up</ion-button>
    </form>
  </div>




</ion-content>